body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav span {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 14px;
  margin-right: 50px;
  text-decoration: none;
  font-size: 17px;
}

.topnav span:hover {
  background-color: #ddd;
  color: black;
}

.logout_btn {
  cursor: pointer;
}

.boxes {
  float: left;
}

.user_name{
  text-transform: capitalize;
}
.container {
  position: relative;
  width: 90%;
  height: auto;
  background-color: #f3eeee;
  position: absolute;
  top: 15%;
  left: 5%;
  padding: 2%;
  margin: -25px 0 0 -25px;
}

.hr-theme-slash-2 {
  display: flex;
}
.hr-theme-slash-2 .hr-line {
  width: 5%;
  position: relative;
  margin: 5px;
  border-bottom: 1px solid #000;
}
.hr-theme-slash-2 .hr-icon {
  position: relative;
  top: 3px;
  color: blue;
}

.circuits {
  width: 10%;
  height: auto;
  background-color: blue;
  position: absolute;
  top: 1%;
  left: 0%;
  padding: 2%;
  margin: -25px 0 0 -25px;
}
.gates_container {
    border: 3px solid #fff;
    padding: 20px;
}

.gates {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px solid red;
}
